<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
 

  <%= stylesheet_link_tag "login" %>

</head>
<body>

  <%# <h1 class='text-center'>Log in</h1> %>

  <div class='container'>
     <div class="row ">
        <div class="col-md image-wrapper">
          <img src="https://media.voguebusiness.com/photos/60ae33319e6b5e325e60067c/2:3/w_2560%2Cc_limit/instagram-likes-voguebus-instagram-may-21-story.gif" width='500px'alt="">
        </div>
        <div class="col-md login-wrapper">
  
          <h1 class='text-center'>Instagram</h1>
           
           <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

            <%= f.label :email, class: "hidden"%>
            <%= f.email_field :email, class: 'form-control', placeholder: "email" %>

            <%= f.label :password, class: "hidden"%>
            <%= f.password_field :password, class: 'form-control', placeholder: "password"  %>

            <%= f.submit "Log in", class: "btn login-btn" %>
          <% end %>

          <div class='mt-3'>
             <p>Don't have an account? <%= link_to "Sign up", signup_path, class: 'sign-up' %></p>
          </div>

          <div class='mt-3'>
             <p class='text-center'>Get the app</p>
              <div>
                <img src="https://www.svgrepo.com/show/303128/download-on-the-app-store-apple-logo.svg" width='120px'alt="">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Google_Play_Store_badge_EN.svg/2560px-Google_Play_Store_badge_EN.svg.png" width='120px' alt="">
              </div>
          </div>

        </div>
    
     </div>
  </div>

  
</body>
</html>
