
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Posts</title>
	<%= stylesheet_link_tag "posts" %>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8 posts-wrapper">
				<div>
					<% @posts.each do |post| %>
						<div class="container">
							<div class="row-fluid">
								<div class="col-md-9 insta-individual">
								 	<h5 class='post-author'><%= post.user.username %></h5>	 
									<div class='post-body'>
										<% if post.image.attached? %>
											<p> <%= image_tag post.image, style: "width: 500px" %></p>
										<% end %>
										<div class='post-title-and-caption'>
											<p class='insta-author'><%= post.user.username  %></p>
											<small class='insta-caption'> <%= post.title %> </small>
										</div>
									</div>
									
								</div>
							</div>
						</div>
						

					<% end %>
				</div>
			</div>
			<div class="col-md-3 account-wrapper">
				<h2 class='welcome-msg'>Welcome, <%= current_user.username %>! </h2>
			</div>
		</div>
	</div>

	
</body>
</html>