<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Creating posts</title>
	<%= stylesheet_link_tag "new_post" %>
</head>
<body>
	<%# <h1>New InstaPost</h1> %>
	<div class="add-new">
		  <%= form_with(model: @post, local: true) do |f| %>
		
					<%= f.label :title %>
					<%= f.text_field :title %>
	
		

					<%= f.label :body %>
					<%= f.text_field :body %>
	
				
	
					<%= f.label :image %> 
					<%= f.file_field :image %> 


				<%= f.submit "Post", :class => "btn btn-primary" %></div>
			<% end %>
	</div>

	
</body>
</html>

